<table>
  <tr>
    <th>Parent</th>
    <th>Email</th>
    <th>Children</th>
    <th>Age</th>
  </tr>
  <% @users.each do |user| %>
    <% if !user.admin %>
      <tr>
        <td><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></td>
        <td><%= user.email %></td>
        <% user.children.each do |child| %>
        <td>  
          <%= child.first_name.capitalize %>
          <%= child.age %>
        </td>
        
        <% end %>
      </tr>
    <% end %>
  <% end %> 
</table>

<ul>
  <% @users.each do |user| %>
    <% if !user.admin %>
      <h3>Parent</h3>
      <%= user.first_name.capitalize %> <%= user.last_name.capitalize %>
      <h3>Children</h3>
      <% user.children.each do |child| %>
          <%= child.first_name.capitalize %> <%= child.age %>
      <% end %>
      <h3>Email</h3>
      <li><%= user.email %></li><br />
    <% end %>
  <% end %>
</ul>