<!DOCTYPE html>
<html>
  <head>
    <title>StoryTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/home.js" alt="home.js"></script>
    <link rel="application" type="text/css" href="application.css">
    <!-- <link rel="application" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" /> -->
    <script src="https://kit.fontawesome.com/34f56d6676.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <style>
      a { color: #ff9500; } /* CSS link color */
    </style>
  </head>

  <body>
    <div class="background">
    <ul id="navigation">
      <!-- <%= link_to image_tag('Capture.PNG'), root_path %> -->
      <li class="nav-item"><%= link_to 'Program', root_path(anchor: 'heading') %></li>
      <li class="nav-item"><%= link_to 'Educator', root_path(anchor: 'educator-heading') %></li>
      <li class="nav-item"><%= link_to 'Contact', root_path(anchor: 'icon') %></li>
      <li class="nav-item"><%= link_to "FAQs", faq_path%></li>
      <li class="nav-item float-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.first_name.capitalize %></strong>
        <%= link_to 'Profile', profile_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </li>
    </ul>

    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
